body {
  margin: 60px auto;
  background: center;
  background-image: url("ocean.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


@font-face {
    font-family: myFirstFont;
    src: url(vinque.ttf);
 }
 
 /* to have special fonts assigned to specific or all elements*/
 * {
    font-family: myFirstFont;
 }

td#gamearea {
    border-top-left-radius: 20px;
    border-top-right-radius:20px;
    background-image: url("radar.jpg");
    
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    width: 500px;
    height: 150px;
}

td#messagearea {
    border-bottom-left-radius: 20px;
    background-color:white;
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    width: 500px;
    height: 50px;
    
    
}
td#guesscount {
    border-bottom-right-radius:20px;
    background-color:white;
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    width: 500px;
    height: 50px;
    

}
#gameboard {
	position:relative;
	margin:0 auto 2em auto;
	width:650px;
	height:200px;
}

#gameboard div {
	position:absolute;
	box-sizing: border-box;         
	background:white; 
	border: 1px solid  #2ecc71;
	width:35px;
	height:35px;
}

h1 {
    text-align: left;
    font-size: 35px;
    color: gray;
    border-bottom: 1px dashed gainsboro;
    
    } 
button, input {
    font-size: 1.35em;
    line-height: 1.4em;
    color: #333;
	margin-bottom:1em;
}

p,h5 {
    
    color:white;
    
}
