@charset "UTF-8";
/* CSS Document */

 

body {
	
  background:rgb(61, 55, 55);
  width: 900px;
  margin: 0 auto;
  
}
form{
  background:white;
  width: 750px;
  margin: 0 auto;
}

label {
  display: inline-block;
  width: 100px;
  text-align: right;
  
  }

  h1 {
    text-align: center;
    font-size: 35px;
    color: gray;
    font-family: serif;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 1px dashed gainsboro;
    margin-top: 30px;
    }
    h2 {
    color: goldenrod;
    font-size: 20px;
    font-family: Cambria;
    
    }
    legend{
      color: goldenrod;
    font-size: 14px;
    font-family: Cambria;
    
    
    }
    p {
    color: gray;
    font-size: 18px;
    font-family:cambria;
    }
    label {
      color: gray;
      font-size: 16px;
    font-family: Cambria;
      }
  
  input {
  margin-left: 10px;
  margin-bottom: 8px;
  }